.about_content_grid{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    width: 100%;
    margin: 170px 0;
}
.about_content_box{
    width: 100%;
    position: relative;
    height: 400px;
    background: var(--pri_color);
    transform: rotate(5deg);
}
.about_content_img{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-5deg);
    width: 100%;
    height: 100%;

}
.about_content_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about_content_box_2{
    display: flex;
    flex-direction: column;
    /* align-items: end; */
    justify-content: end;
    align-items: baseline;
}
.about_content_box_2 h1{
    color: var(--pri_color);
    font-size: 44px;
}