.navigation{
    position: fixed;
    top: 0px;
    z-index: 999999;
    width: 100%;
    padding: 30px;  

}
.scrolled{
    background: var(--black);
}
.navigation_title h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    color: var(--pri_color);
    font-weight: bold;

}
.navigation_grid{
    display: flex;
    justify-content: space-between;
}

.navbar_menu ul li{
    list-style: none;
    display: inline;
    padding: 10px;
    font-size: 22px;
    font-weight: 600;
    color: var(--sec_color);
    text-transform: capitalize;
    transition: 0.5s ease;
}
.navbar_menu ul li:hover{
    color: var(--white);
}
@media(max-width:870px){
    .navigation{
        display: none;
    }
}
