.portfolio_box{
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
}
.portfolio_grid{
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    width: 100%;
}
.portfolio_content{
    width: 100%;
    height: auto;
}
.portfolio_content img{
    width: 100%;
    height: auto;
}
.portfolio_content p{
    font-size: 18px;
}
.portfolio_content h1{
    font-size: 30px;
    color: var(--pri_color);
    margin: 10px 0;
}
.portfolio_content_2nd{
    width: 80%;
    margin-left: 20%;
}